html, body{
    height: 100%;
    margin: 0px;
}
h1{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkIH-Ft3NP9ACL1sOz-36KEwwOSJY1AmWMag&usqp=CAU");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info{
    padding: 13% 10% 0 10%;
    width: 80%;
    height: 70%;
}
.btn{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.success{
    border-color: #4CAF50;
    color: green;
}
.success:hover{
    background-color: #4CAF50;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}
.intro-block{
    width: 25%;
    margin: 0px 10px;
    height: 80%;
    padding: 10px;
    color: white;
    transition-property: background-color, color;
    transition: 0.5s;
}
.border{
    border: 4px solid white;
    border-radius: 5%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#leftSidebar{
    width: 50%;
    height: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqu4PZcu6kEKPxzlz5n0zVz4qJskdqKu1SjA&usqp=CAU);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
#rightSidebar{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    height: 10%;
    width: 40%;
    margin-bottom: 20px;
}
.formButton{
    height: 10%;
    width: 40%;
    background: #00ad5f;
    color: whitesmoke;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.formButton:hover{
    background-color: black;
}
a{
    color: #00ad5f;
    transition-property: color;
    transition-duration: 0.5s;
    text-decoration: none;
}
a:hover{
    color: black;
}

.space-around{
    padding: 30px 10%;
}